@page "/test/bycode"
@implements IDisposable
@inject HotKeys HotKeys

<h1>Test by Code</h1>

<p>This page distinguish between left and right modifier keys.</p>

<EnteredKeyList @ref="EnteredKeyList" />

@code {
    private EnteredKeyList? EnteredKeyList;

    private HotKeysContext? HotKeysContext;

    protected override void OnInitialized()
    {
        this.HotKeysContext = this.HotKeys.CreateContext()
            .Add(Code.Escape, () => EnteredKeyList?.Clear())
            .Add(Code.A, OnHotKey)
            .Add(Code.B, OnHotKey)

            // ShiftLeft/Right
            .Add(Code.ShiftLeft, OnHotKey)
            .Add(Code.ShiftRight, OnHotKey)
            .Add(ModCode.Ctrl, Code.ShiftLeft, OnHotKey)
            .Add(ModCode.Ctrl | ModCode.Alt, Code.ShiftRight, OnHotKey)

            // ControlLeft/Right
            .Add(Code.ControlLeft, OnHotKey)
            .Add(Code.ControlRight, OnHotKey)
            .Add(ModCode.Shift | ModCode.Alt, Code.ControlLeft, OnHotKey)
            .Add(ModCode.Shift, Code.ControlRight, OnHotKey)

            // AltLeft/Right
            .Add(Code.AltLeft, OnHotKey)
            .Add(Code.AltRight, OnHotKey)
            .Add(ModCode.Ctrl, Code.AltLeft, OnHotKey)
            .Add(ModCode.Ctrl | ModCode.Shift, Code.AltRight, OnHotKey)

            // MetaLeft/Right
            .Add(Code.MetaLeft, OnHotKey)
            .Add(Code.MetaRight, OnHotKey)
            .Add(ModCode.Alt, Code.MetaLeft, OnHotKey)
            .Add(ModCode.Alt | ModCode.Shift, Code.MetaRight, OnHotKey);
    }

    private void OnHotKey(HotKeyEntryByCode hotKeyEntry)
    {
        EnteredKeyList?.OnEnteredKey(hotKeyEntry, appendLast: true);
    }

    public void Dispose()
    {
        this.HotKeysContext?.Dispose();
    }
}