@page "/test/onkeydown"
@implements IDisposable
@inject HotKeys HotKeys

<h1>Test HotKeys.OnKeyDown event</h1>

<EnteredKeyList @ref="_enteredKeyList" />

@code
{
    private EnteredKeyList? _enteredKeyList;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            this.HotKeys.KeyDown += HotKeys_OnKeyDown;
        }
    }

    private void HotKeys_OnKeyDown(object? sender, HotKeyDownEventArgs e)
    {
        _enteredKeyList?.OnEnteredKey(e);
    }

    public void Dispose()
    {
        this.HotKeys.KeyDown -= HotKeys_OnKeyDown;
    }
}