@page "/test/custom-elements"

<h1>Test - Custom Elements</h1>

<div style="display: flex; flex-direction:column; gap:12px;">

    <div>
        <custom-input id="input-1"></custom-input>
    </div>

    <div>
        <custom-textarea id="text-area-1"></custom-textarea>
    </div>

    <div>
        <custom-select id="select-1">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </custom-select>
    </div>

    <div>
        <custom-checkbox id="checkbox-1"></custom-checkbox>
    </div>

    <div>
        <custom-radio-group id="radio-group-1"></custom-radio-group>
    </div>

    <div>
        <custom-button id="button-1">Click me</custom-button>
    </div>

    <div>
        <custom-input-button id="input-button-1">Click me</custom-input-button>
    </div>

</div>