<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-security-policy" content="default-src 'self'; font-src *; connect-src 'self' ws://localhost:* http://localhost:*; script-src 'self'; style-src 'self' 'unsafe-inline' fonts.googleapis.com data:; img-src 'self' data:" />
    <base href="/" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="_content/SampleSite.Components/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/SampleSite.Components/css/site.css" />
    <link rel="stylesheet" href="_content/SampleSite.Components/css/site-custom.css" />
    <link rel="stylesheet" href="_content/SampleSite.Components/css/hot-keys-cheat-sheet.css" />
    <link rel="stylesheet" href="SampleSite.Server.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/SampleSite.Components/helper.js"></script>
    <script src="_content/SampleSite.Components/custom-elements.js"></script>
</body>

</html>
