name: unit tests

on:
  push:
    branches:
      - main

jobs:
  perform-unit-tests:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code
      - uses: actions/checkout@v5

      # Install .NET SDK
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.100-rc.1.25451.107

      # Perform unit tests
      - name: Perform unit tests on net8.0
        run: dotnet run --project HotKeys2.Test -f net8.0 --output detailed
      - name: Perform unit tests on net9.0
        run: dotnet run --project HotKeys2.Test -f net9.0 --output detailed
      - name: Perform unit tests on net10.0
        run: dotnet run --project HotKeys2.Test -f net10.0 --output detailed
