name: unit tests

on:
  push:
    branches:
      - main

jobs:
  perform-unit-tests:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code
      - uses: actions/checkout@v5

      # Install .NET SDK
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            9.0.x
            10.0.x

      # Perform unit tests
      - name: Perform unit tests
        run: dotnet test --project ./HotKeys2.Test/Toolbelt.Blazor.HotKeys2.Test.csproj --output detailed
